.slick-prev,
.slick-next {
  top: 80% !important;
  border: 0 !important;
  background-color: transparent !important;

  &:hover {
    background-color: transparent !important;
  }
}

.inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;

  .inner-l {
    width: 250px;
    float: left;

    .inner-technology {
      .inner-title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
        background: #004898;

        span {
          font-size: 24px;
          color: #fff;
          font-weight: 600;
          text-transform: uppercase;
        }
      }

      .inner-content {
        width: 100%;
        font-size: 20px;
        color: #777;
        line-height: 25px;
        margin-bottom: 20px;

        ul {
          margin: 0 auto;
          height: auto;
          position: relative;
          list-style: none;
          text-transform: capitalize;
          z-index: 500;
          width: 250px;
          background-color: #f6f6f6;
          color: #444;
          text-transform: capitalize;
          visibility: inherit;

          li {
            border-bottom: 1px solid #fff;

            .technology-title {
              text-decoration: none;

              span {
                cursor: pointer;
                font-weight: 400;
                color: #444;
                padding-left: 12px;
                font-size: 20px;
                line-height: 55px;
                height: 55px;

                &:hover {
                  color: #004898;
                }
              }
            }
          }
        }
      }
    }

    .inner-product {
      .inner-title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
        background: #004898;

        span {
          font-size: 24px;
          color: #fff;
          font-weight: 600;
          text-transform: uppercase;
        }
      }

      .inner-content {
        margin-bottom: 20px;
        .img {
          width: 250px;
          height: 250px;

          .product-border {
            display: block;
            text-align: center;
            margin-bottom: 30px;
            position: relative;
            background-color: #696969;

            img {
              display: block;
              width: 100%;
              height: auto;
              max-width: 100%;
              position: relative;
            }
          }

          .products-desc {
            font-size: 24px;
            line-height: 25px;
            font-weight: bold;
            color: #fff;
            text-shadow: 0px 4px 4px rgb(0, 0, 0 / 25%);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            p {
              font-size: 24px;
              line-height: 25px;
              font-weight: bold;
              color: #fff;
              text-shadow: 0px 4px 4px rgb(0, 0, 0 / 25%);
              margin: 0;
            }
          }
        }
      }
    }

    .inner-posts {
      .inner-title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
        background: #004898;

        span {
          font-size: 24px;
          color: #fff;
          font-weight: 600;
          text-transform: uppercase;
        }
      }

      .inner-content {
        width: 100%;
        font-size: 16px;
        color: #777;
        line-height: 25px;
        margin-bottom: 20px;

        ul {
          margin: 0 auto;
          height: auto;
          position: relative;
          list-style: none;
          text-transform: capitalize;
          z-index: 500;
          width: 250px;
          background-color: #f6f6f6;
          color: #444;
          text-transform: capitalize;
          visibility: inherit;

          li {
            border-bottom: 1px solid #fff;

            .posts-title {
              text-decoration: none;
              span {
                cursor: pointer;
                font-weight: 400;
                color: #444;
                padding-left: 12px;
                font-size: 20px;
                line-height: 55px;
                height: 55px;

                &:hover {
                  color: #004898;
                }
              }
            }
          }
        }
      }
    }
  }

  .inner-r {
    width: 78%;
    float: right;

    .inner-content {
      width: 100%;
      margin-top: 20px;

      .inner-position {
        width: 100%;
        font-size: 20px;
        font-weight: 700;
        overflow: hidden;
        background: #f1f1f1;

        h1 {
          text-align: center;
          font-size: 22px;
          padding: 15px 0 13px;
        }
      }

      .datetime {
        margin-top: 15px;
        color: #434d56;
        line-height: 50px;
        text-align: center;
      }

      .product-content {
        margin-top: 15px;
        color: #434d56;
        line-height: 28px;
        text-align: justify;
      }
    }
  }
}
