.about-container {
  .about-title {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      text-align: center;
      font-size: 32px;
      color: #004898;
      line-height: 32px;
      font-weight: 700;
      padding: 30px 0;
    }
  }

  .about-content {
    width: 1200px;
    margin: 0 auto;
    text-align: center;

    .about-left {
      float: left;
      width: 48%;
      padding: 10px;
      height: 530px;
      background: #eee;

      .customers {
        margin-top: 20px;
        text-align: left;
        font-size: 16px;
        font-weight: 400;
        color: #333333;
      }
    }

    .about-right {
      float: right;
      width: 48%;
    }
  }
}

@media (max-width: 1024px) {
  .about-container {
    .about-title {
      span {
        font-size: 24px !important;
      }
    }

    .about-content {
      width: 1024px !important;
      .customers {
        overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 7; /* number of lines to show */
      line-clamp: 7;
      -webkit-box-orient: vertical;
      }
    }
  }
}

@media (max-width: 768px) {
  .about-container {
    .about-title {
      span {
        font-size: 20px !important;
      }
    }

    .about-content {
      width: 768px !important;
      .customers {
        overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 6; /* number of lines to show */
      line-clamp: 6;
      -webkit-box-orient: vertical;
      }
      
    }
  }
}
@media (max-width: 450px) {
  .about-container {
    display: none !important;
  }
}
