.home-footer-container {
    background: url("../../assets/images/foot.jpg") center 0 no-repeat;
    min-height: 300px;
    background-size: cover;
    margin-top: 560px;

    .home-footer-content {
        width: 1200px;
        margin: 0 auto;
        overflow: inherit !important;
        text-align: center;

        .home-footer-title {
            h2 {
                text-align: left;
                font-size: 32px;
                color: #fff;
                line-height: 32px;
                font-weight: 700;
                padding-top: 30px;
            }

            p {
                color: #fff;
                text-align: justify;
            }
        }

        .home-footer-form {
            padding-top: 30px;
            text-align: left;

            form {
                .footText {
                    width: 32.7%;
                    height: 40px;
                    padding-left: 10px;
                    border: none;
                    outline: none;
                    background: #d4d5da;
                    font-size: 14px;
                    color: #9a9a9a;
                    line-height: 40px;
                    border-radius: 5px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                }

                #form_email {
                    margin-right: 0;
                }

                .footTextarea {
                    width: 1052px;
                    height: 90px;
                    background: #d4d5da;
                    color: #9a9a9a;
                    line-height: 20px;
                    padding-left: 10px;
                    padding-top: 10px;
                    border: none;
                    outline: none;
                    resize: none;
                    border-radius: 5px;
                }

                .footBtn {
                    width: 135px;
                    margin-left: 10px;
                    height: 90px;
                    background: #004898;
                    font-size: 16px;
                    color: #ffffff;
                    line-height: 100px;
                    cursor: pointer;
                    border-radius: 5px;
                    border: none;
                    vertical-align: top;
                }
            }
        }

        .home-footer-desc {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            color: #fff;
            margin-top: 30px;

            ul {
                text-align: left;
                width: 33.33333%;
                padding: 0;
                list-style: none;

                li {
                    line-height: 30px;
                    font-weight: 700;
                }

                .fli {
                    font-weight: 400;
                    line-height: 24px;

                    a {
                        color: #fff;
                        text-decoration: none;

                        p {
                            margin: 0;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .home-footer-container {
        .home-footer-content {
            width: 1024px !important;

            .home-footer-form {
                form {
                    .footText {
                        width: 32.6% !important;
                    }

                    .footTextarea {
                        width: 870px !important;
                    }
                }
            }
        }
    }
}
@media (max-width: 450px) {
    .home-footer-container {
        .home-footer-content {
            width: 450px !important;

            .home-footer-form {
                form {
                    .footText {
                        width: 32.4% !important;
                    }

                    .footTextarea {
                        width: 620px !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .home-footer-container {
        margin-top: 0 !important;
        margin-bottom: 15px !important;
        .home-footer-content {
            width: 450px !important;

            .home-footer-form {
                form {
                    .footText {
                        width: 92% !important;
                    }

                    .footTextarea {
                        width: 270px !important;
                    }
                }
            }
        }

        .home-footer-desc {
            display: none !important;
        }
    }
}
