$orange: #ffac42;

.home-header-container {
  width: 100%;
  height: 105px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;

  .home-header-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .intertophead1 {
      width: 1440px;
      margin: 0 auto;
      background-color: #ffffff;
      height: 25px;

      .secai {
        color: #666;
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        float: right;

        li {
          list-style: none;
          margin-left: 10px;
          padding-right: 10px;

          &:first-child {
            border-right: 1px solid #666;
          }

          a {
            color: #666;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .intertophead {
      width: 1440px;
      margin: 0 auto;
      background-color: #ffffff;
      height: 80px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .content-left {
        width: 20%;

        .logo {
          cursor: pointer;
          height: 100%;
          background: url("../../assets/images/logo.png") center center
            no-repeat;
        }
      }
      .content-center {
        width: 60%;

        ul {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          li {
            list-style: none;

            a {
              text-decoration: none;
              color: #333;
              line-height: 40px;
              display: block;
              text-align: center;
              min-width: 128px;
              font-size: 16px;
              font-weight: 600;

              &:hover {
                background-color: #004898;
                text-decoration: none;
                color: #fff;
              }
            }
          }
        }
      }
      .content-right {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        & > div {
          cursor: pointer;
          color: #ffffff;
          font-weight: 600;
          padding: 15px 35px;
          background: #004898;

          &:hover {
            background: #0961c5;
          }
        }
      }
    }
  }
}

.home-header-banner {
  background-image: url("https://bookingcare.vn/assets/anh/bookingcare-cover-4.jpg");
  height: 743px;
  background-size: center;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;

  .content-up {
    height: 80%;

    .title1 {
      text-align: center;
      font-size: 2rem;
      text-shadow: 1px 1px 1px #333333;
      margin-bottom: 5px;
      color: #fff;
      padding-top: 120px;
    }

    .title2 {
      text-align: center;
      font-size: 2rem;
      text-shadow: 1px 1px 1px #333333;
      color: #fff;
      font-weight: 700;
      margin-bottom: 15px;
    }

    .search {
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      padding: 10px;
      border-radius: 25px;
      background-color: #f7d800;

      i {
        margin: 0 5px;
      }

      input {
        border: none;
        outline: none;
        height: 30px;
        width: 360px;
        background-color: transparent;
      }
    }
  }

  .content-down {
    padding-bottom: 10px;
    height: 20%;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 1)
    );

    .options {
      text-align: center;
      display: flex;
      gap: 50px;
      justify-content: center;

      .option-child {
        width: 105px;

        .icon-child {
          background-color: #fff;
          width: 40px;
          height: 40px;
          padding: 10px;
          border-radius: 50%;
          text-align: center;
          margin: 0 auto;
          cursor: pointer;

          i {
            color: #45c3d2;
            font-size: 16px;
          }
        }

        .text-child {
          font-size: 16px;
          font-weight: 700;
          cursor: pointer;

          &:hover {
            color: #45c3d2;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .home-header-container {
    .home-header-content {
      .intertophead1 {
        width: 1024px;
      }
      .intertophead {
        width: 1024px;
        .content-left {
          width: 25%;
        }
        .content-center {
          display: none;
        }
        .content-right {
          float: right;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .home-header-container {
    .home-header-content {
      .intertophead1 {
        width: 768px;
      }
      .intertophead {
        width: 768px;
        .content-left {
          width: 25%;
        }
        .content-center {
          display: none;
        }
        .content-right {
          // float: right;
          margin-right: 15px;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .home-header-container {
    .home-header-content {
      .intertophead1 {
        width: 450px;
      }
      .intertophead {
        width: 450px;
        .content-left {
          width: 100%;
        }
        .content-center {
          display: none;
        }
        .content-right {
          // float: right;
          display: none;
        }
      }
    }
  }
}
